@font-face {
   font-family: "AvenirLTW01-35Light";
	src: url('/resources/fonts/avenir/AvenirLTW01-35Light.EOT');
	src: local('☺'), 
		url('/resources/fonts/avenir/AvenirLTW01-35Light.woff') format('woff'), 
		url('/resources/fonts/avenir/AvenirLTW01-35Light.ttf') format('truetype'), 
		url('/resources/fonts/avenir/AvenirLTW01-35Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background: #fff;
	padding: 50px;
	color: #666666;
	font-family: "AvenirLTW01-35Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear {
	clear: both;
}

#page {
	width: 750px;
	margin: 60px auto 0 auto;
}

h1 {
	font-family: 'Merriweather', serif;
	font-size: 26px;
	color: #454545;
}

h2 {
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #B2B2B2;
	font-family: 'Economica', sans-serif;
	margin: 50px 0 0 0px;
}

h3 a {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	text-decoration: none;
	color: #FF7D00;
	font-size: 18px;
	margin: 0px 12px 0 0;
}

h3 attr {
	display: inline-block;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

h3 a:hover {
	opacity: .8;
}

#bio {
	padding-top: 20px;
	border-bottom: 1px solid #D6D6D6;
	height: 260px;
}

#bio img {
	border-radius: 50%;
	float: left;
	margin: 0 35px 20px 0;
	width: 200px;
}

#bio_cont {
	float: left;
	width: 490px;
}

#bio, #bio a {
	font-size: 22px;
	font-weight: 100;
	color: #7a7a7a;
	line-height: 35px;
}

#bio strong {
	font-weight: 900;
}

#bio .icon {
	height: 16px;
	padding-left: 24px;
	background-image: url('/resources/images/icons.png');
	background-repeat: no-repeat;
}

#contact {
	margin: 15px 0 0 0;
	padding: 0px;
	list-style: none;
}
	
#contact, #contact a {
	letter-spacing: 1px;
	font-size: 11px;
	line-height: 16px;
	text-decoration: none;
	color: #666;
}

#contact li {
	margin: 0px;
	padding: 4px 35px 2px 0;
	display: inline;
}

#contact .icon {
	opacity: .6;
}

#contact .icon.phone {
	background-position: 0 0;
}

#contact .icon.mail {
	background-position: 0 -32px;
}

#contact .icon.linkedin {
	background-position: 0 -64px;
}


/* narrow browser */

@media only screen and (min-width: 0px) and (max-width: 867px) {
	body {
		padding: 25px;	
	}
	
	#bio {
		height: auto;
		padding-bottom: 20px;
	}
	
	#bio_cont {
		width: auto;
	}
	
	#bio img {
		width: 120px;
		margin: 0 15px 10px 0;
		border-width: 5px;
	}
	
	#page {
		width: auto;
		margin-top: 0px;
	}
}


/* single column browser */

@media only screen and (min-width: 0px) and (max-width: 510px) {
	#contact li {
		display: block;
		height: 40px;
		padding-top: 2px;
		margin-bottom: 8px;
	}
}


/* phone */

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
	#bio {
		padding-top: 0px;
	}

	#bio img {
		width: 80px;
		margin: 0 15px 0px 0;
		border-width: 3px;
	}
	
	#bio, #bio a {
		font-size: 18px;
		line-height: 24px;
	}
	
	#contact li {
		padding: 0px;
		margin-bottom: 12px;
		height: 24px;
		line-height: 24px;
	}

	#contact .icon.phone {
		background-position: 0 2px;
	}
	
	#contact .icon.mail {
		background-position: 0 -30px;
	}
	
	#contact .icon.linkedin {
		background-position: 0 -62px;
	}
	
	#contact li a {
		font-size: 15px;
	}

	h2 {
		font-size: 15px;
	}

	h3 a {
		margin: 0px 12px 25px 0;
	}
	
	h3 attr {
		font-size: 15px;
	}
}


/* phone, landscape */

@media only screen and (max-device-width: 480px) and (orientation : landscape) {
	#bio img {
		width: 70px;
		margin: 0 15px 10px 0;
		border-width: 5px;
	}
}